<center>
    <h1>Welcome to Home page</h1>
    <p>Hello <%= name %></p>
    <br><br>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">LOGOUT</button>
    </form>
</center>
